src/com/openitech/xsd/DataSource.xsd

<?xml version="1.0" encoding="windows-1250"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/sifranti_custom"
            xmlns:tns="http://xml.netbeans.org/schema/sifranti_custom"
            elementFormDefault="qualified">
  <xsd:element name="Workarea">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="DataSource">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SQL" type="xsd:string"/>
              <xsd:element name="COUNT_SQL" type="xsd:string" minOccurs="0"/>
              <xsd:element name="EventColumns" maxOccurs="unbounded" type="xsd:string">
              </xsd:element>
              <xsd:element name="Parameters" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:choice>
                    <xsd:element name="DataSourceFilter" type="tns:DataSourceFilter"></xsd:element>
                    <xsd:element name="DataSourceFilterFactory" type="tns:DataSourceParametersFactory">
                      <xsd:annotation>
                        <xsd:documentation>Deprecated</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DataSourceParametersFactory" type="tns:DataSourceParametersFactory"></xsd:element>
                    <xsd:element name="SubQuery" type="tns:SubQuery"></xsd:element>
                    <xsd:element name="TemporaryTable" type="tns:TemporaryTable"></xsd:element>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="CanAddRows" type="xsd:boolean" minOccurs="0"></xsd:element>
              <xsd:element name="CanDeleteRows" type="xsd:boolean" minOccurs="0"></xsd:element>
              <xsd:element name="QueuedDelay" type="xsd:long" minOccurs="0"></xsd:element>
              <xsd:element name="resumeAfterCreation" type="xsd:boolean" minOccurs="0"></xsd:element>
              <xsd:element name="ClassName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="ProviderClassName" type="xsd:string" minOccurs="0"></xsd:element>
              <xsd:element name="CreationParameters" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CanAddRows" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="CanDeleteRows" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="QueuedDelay" type="xsd:long" minOccurs="0"></xsd:element>
                    <xsd:element name="UseLimitParameter" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="Suspend" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="LoadData" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="ResumeAfterCreation" type="xsd:boolean" minOccurs="0"></xsd:element>
                    <xsd:element name="ClassName" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="ProviderClassName" type="xsd:string" minOccurs="0"></xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DataModel" type="tns:DataModel"></xsd:element>
        <xsd:element name="Information" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Panels" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:choice>
                    <xsd:element name="Groovy" type="xsd:string"></xsd:element>
                    <xsd:element name="ClassName" type="xsd:string"></xsd:element>
                  </xsd:choice>
                  <xsd:attribute name="title" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubQuery">
    <xsd:all>
      <xsd:element name="ImmediateSQL" type="xsd:string"></xsd:element>
      <xsd:element name="PendingSQL" type="xsd:string"></xsd:element>
      <xsd:element name="DeferredSQL" type="xsd:string"></xsd:element>
      <xsd:element name="PendingColumns">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ColumnNames" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ParentKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ColumnNames" maxOccurs="unbounded" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Replace" type="xsd:string"></xsd:element>
      <xsd:element name="Operator" type="xsd:string" minOccurs="0"></xsd:element>
    </xsd:all>
    <xsd:attribute name="SupportsMultipleKeys" type="xsd:boolean" default="false"/>
    <xsd:attribute name="MultipleKeysLimit" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="DataSourceFilter">
    <xsd:all>
       <xsd:element name="Name" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="Replace" type="xsd:string"></xsd:element>
      <xsd:element name="Operator" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="Factory"  type="tns:Factory" minOccurs="0"></xsd:element>
        <xsd:element name="Parameters" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="SeekParameters" type="tns:SeekParameters" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DataSourceParametersFactory">
    <xsd:all>
      <xsd:element name="Factory"  type="tns:Factory"></xsd:element>
        <xsd:element name="Filters" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="DataSourceFilter" type="tns:DataSourceFilter" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="ExportMenuModels" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"></xsd:element>
                   <xsd:element name="DataModel" type="tns:DataModel"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Factory">
    <xsd:choice>
      <xsd:element name="Groovy" type="xsd:string"></xsd:element>
      <xsd:element name="ClassName" type="xsd:string"></xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="TemporaryTable">
    <xsd:all>
      <xsd:element name="Operator" type="xsd:string" minOccurs="0"></xsd:element>
      <xsd:element name="Replace" type="xsd:string"></xsd:element>
      <xsd:element name="CreateTableSqls">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Query" maxOccurs="unbounded">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FillTableSql">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CleanTableSqls" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Query" maxOccurs="unbounded">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EmptyTableSql">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CheckTableSql">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TableName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="FillOnceOnly" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name="DataModel">
    <xsd:all>
      <xsd:element name="Separator" minOccurs="0"  type="xsd:string" />
      <xsd:element name="TableColumns">
        <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="TableColumnDefinition">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="TableColumnEntry" maxOccurs="unbounded" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SeekParameters">
    <xsd:choice>
      <xsd:element name="SeekType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Name" type="xsd:string"></xsd:element>
                <xsd:element name="Field" type="xsd:string"></xsd:element>
                <xsd:element name="Type" type="tns:SeekType" minOccurs="0"></xsd:element>
                <xsd:element name="MinumumLength" type="xsd:int" minOccurs="0"></xsd:element>
                <xsd:element name="ParameterCount" type="xsd:int" minOccurs="0"></xsd:element>
            </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IntegerSeekType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Name" type="xsd:string"></xsd:element>
                <xsd:element name="Field" type="xsd:string"></xsd:element>
                <xsd:element name="Type" type="tns:SeekType" minOccurs="0"></xsd:element>
            </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BetweenDateSeekType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Name" type="xsd:string"></xsd:element>
                <xsd:element name="Field" type="xsd:string"></xsd:element>
            </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SifrantSeekType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Name" type="xsd:string"></xsd:element>
                <xsd:element name="Field" type="xsd:string"></xsd:element>
                <xsd:element name="LookupDefinition">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="Factory" type="tns:Factory"></xsd:element>
                            <xsd:element name="Lookup">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="AllowedValues" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                                        <xsd:element name="ExcludedValues" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="SifrantSkupina" type="xsd:string"/>
                                    <xsd:attribute name="SifrantOpis" type="xsd:string"/>
                                    <xsd:attribute name="TextNotDefined" type="xsd:string"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
    <xsd:simpleType name="SeekType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UPPER_EQUALS"/>
            <xsd:enumeration value="UPPER_BEGINS_WITH"/>
            <xsd:enumeration value="UPPER_END_WITH"/>
            <xsd:enumeration value="UPPER_CONTAINS"/>
            <xsd:enumeration value="EQUALS"/>
            <xsd:enumeration value="GREATER_OR_EQUALS"/>
            <xsd:enumeration value="LESS_OR_EQUALS"/>
            <xsd:enumeration value="PREFORMATTED"/>
            <xsd:enumeration value="BEGINS_WITH"/>
            <xsd:enumeration value="ENDS_WITH"/>
            <xsd:enumeration value="CONTAINS"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>


